/*********************************************

This is the style file for this project.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body, hmtl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 750px;
  /* padding: 10px 0 10px 0; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color:  black;
}

.windows {
  width: 45%;
  height: 100%;
  /* background-color: red; */
  /* padding: 0 10px 0 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-style: solid;
  border-color: black;
  border-width: 5px; */
}

#input, #haiku {
  background-color: black;
  width: 100%;
  height: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: green;
}

#avatarSpace {
  background-color: black;
  height: 96%;
  border-style: solid;
  border-width: 2px;
  border-color: green;
}

h1 {
  margin-left: 25px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 36px;
  margin-top: 10px;
  color: green;
}

#avatarSpace h1 {
  font-size: 48px;
}

#art {
  border-style: none;
  font-size: 36px;
  background-color: grey;
  color: green;
}
