/*********************************************

This is the style file for this project.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Orbitron');

body, hmtl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 750px;
  /* padding: 10px 0 10px 0; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color:  black;
}

.windows {
  width: 45%;
  height: 100%;
  /* background-color: red; */
  /* padding: 0 10px 0 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-style: solid;
  border-color: black;
  border-width: 5px; */
}

#input, #haiku {
  background-color: black;
  width: 100%;
  height: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #1dff00;
}

#avatarSpace {
  background-color: black;
  height: 96%;
  border-style: solid;
  border-width: 2px;
  border-color: #1dff00;
}

h1 {
  margin-left: 25px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-top: 10px;
  color: white;
}

h2 {
  padding: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  color: #1dff00;
}

#avatarSpace h1 {
  font-size: 48px;
}

#haiku {
  font-size: 16px;
  color: #1dff00;
  padding: 15px;
}

.art, .countries, .flowers, .moods, .animals {
  border-style: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: space-between;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
}

#poemLines1, #poemLines2, #poemLines3, #poemLines4, #poemLines5, #poemLines6 {
  padding-left: 10px;
  font-family: 'Orbitron', sans-serif;
}

#startGameText, #speechInstruction {
  height: 300px;
  width: 0;
}

img {
  width: 35%;
  padding: 10px 20px 10px 20px;
  border-style: dashed;
  border-width: 0.5px;
  border-color: #1dff00;
}

#images {
  padding-left: 50px;
}

#tags[0] {
  right: 15px;
  down: 20px;
}
