@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
  font-family: 'Share Tech Mono', monospace;
  width: 1200px;
  margin-left: 100px;
  margin-top: 100px;
  font-size: 1.2em;
  text-align: justify;
  background-color: black;
  color: white;
}

div {
  margin-top: 1em;
}

/* Redacted elements need to be blanked out */
.redacted {
  background-color: white;
  color: transparent;
  text-decoration: none;
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: black;
  text-decoration: underline;
  color: #18e248;
}

.found {
  background-color: #18e248;
  color: white;
  text-shadow: 0 1px;
  font-size:1.3em;
  letter-spacing: 5px;
}

h3, h4 {
  color: #18e248;
}
