/*********************************************

This is the style file for this project.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
  height: 800px;
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startingGame {
  height: 400px;
}

.startImage {
  /* position: absolute;
  left: 45%;
  top: 400px; */
  color: white;
  -webkit-animation: startImage 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  width: 720px;
}

.startImage:hover {
  cursor: pointer;
}

@-webkit-keyframes startImage {
    0% {
        opacity: 0.5;
        width: 700px;
    }
    50% {
      opacity: 1;
      font-size: 730px;
    }
    100% {
      opacity: 0.5;
      width: 700px;
    }
}

.startingGame, .firstRiddle, .secondRiddle, .thirdRiddle {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.8em;

}
