/*********************************************

This is the style file for this project.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
  /* height: 800px; */
  padding: 0;
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
}

.startingGame {
  height: 400px;
}

.startImage {
  position: absolute;
  vertical-align: middle;
  left: 31%;
  color: white;
  -webkit-animation: startImage 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  width: 720px;
}

@-webkit-keyframes startImage {
    0% {
        opacity: 0.5;
        width: 700px;
    }
    50% {
      opacity: 1;
      width: 702px;
    }
    100% {
      opacity: 0.5;
      width: 700px;
    }
}

/* .startingGame, .firstRiddle, .secondRiddle, .thirdRiddle {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.8em;

} */

canvas {
  position: absolute;
  z-index: -10;
}

.introGif {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
