/*********************************************

This is the style file for this project.

**********************************************/


body {
  background: url(../assets/images/wall.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: black;
  width: 600px;
  height: 700px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 3em;
}

#wellBackground {
  background-color: white;
  width: 400px;
  height: 680px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: flex-end;
}

#brick {
  color: brown;
}

#sisyphus {
  color: blue;
}

#prompt {
  font-size: 16px;
  background-color: black;
}

#prompt, ["From the Depths"] {
  position: absolute;
  left: 50px;
}
