/*********************************************

This is the style file for this project.

**********************************************/

@import url('https://fonts.googleapis.com/css?family=Neucha');

body {
  background: url(../assets/images/wall.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Neucha', cursive;
}

#canvas {
  background-color: black;
  width: 600px;
  height: 700px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 3em;
}

#wellBackground {
  background-color: grey;
  width: 125px;
  height: 680px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: flex-end;
  font-weight: bolder;
}

#bricks {
  color: brown;
}

#sisyphus {
  color: gold;
}

#prompt, .mockery {
  font-size: 24px;
  background-color: black;
  font-family: 'Neucha', cursive;
}

#prompt, ["From the Depths"] {
  position: absolute;
  left: 50px;
}

.hiddenMockery {
 opacity: 0;
 position: absolute;
}
